<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{data.headline}}</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    {{{body}}}
    <script src="/src/public/js/main.js"></script>
</body>
</html>
