<section id="shareButtons">
    <h2>Comparte este contenido</h2>
    {{#each actions.[0].items}}
        <button class="share-button" data-platform="{{body}}">{{body}}</button>
    {{/each}}
</section>
