<div class="hotTopics" id="hotTopics">
    <h3>Tendencias:</h3>
    <ul>
        {{#each hotTopics}}
            <li><a href="{{url}}" target="{{target}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>
