<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">


</head>

<body>
    {{> header}} <!-- Partial del header -->
    {{>pageLead}}
    {{> breadcrumbs}}

   <main>


    <section class="main-container">
        <div class="lead id="lead">
            {{> lead}} <!-- Partial del carrusel -->
        </div>

        <div class="lead-description">
            <h1 class="headline">{{headline}}</h1>
            <p class="subHeadline">{{{subHeadline}}}</p>
            {{> audioPlayer}} <!-- Partial del reproductor de audio -->
            {{> actions}} <!-- Botones de compartir -->
        </div>
    </section>
</main>


    {{> footer}} <!-- Partial del footer -->
    <script src="/js/main.js"></script>

</body>

</html>